
<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>
    <!-- [Meta] -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{% csrf_token %}">
    <meta name="description" content="My AI Solutions">
    <meta name="keywords"
          content="Bootstrap admin template, Dashboard UI Kit, Dashboard Template, Backend Panel, react dashboard, angular dashboard">
    <meta name="author" content="Meraphic  LLC">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- [Favicon] icon -->
    <link rel="icon" href="{% static '' %}backend/image/ai_logo-favicon.png" type="image/x-icon">
    <!-- [Font] Family -->
    <link rel="stylesheet" href="{% static '' %}backend/fonts/inter/inter.css" id="main-font-link"/>
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="{% static '' %}backend/fonts/tabler-icons.min.css"/>
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="{% static '' %}backend/fonts/feather.css"/>
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="{% static '' %}backend/fonts/fontawesome.css"/>
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="{% static '' %}backend/fonts/material.css"/>
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="{% static '' %}backend/css/style.css" id="main-style-link"/>
    <link rel="stylesheet" href="{% static '' %}backend/css/style-preset.css"/>
    <link rel="stylesheet" href="{% static '' %}backend/css/custom.css"/>

    <!-- Icons -->
    <link rel="stylesheet" href="{% static '' %}backend/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="{% static '' %}backend/vendor/fonts/materialdesignicons.css" /> 
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="{% static '' %}backend/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static '' %}backend/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static '' %}backend/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static '' %}backend/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/typeahead-js/typeahead.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/apex-charts/apex-charts.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/swiper/swiper.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/typeahead-js/typeahead.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/quill/katex.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/quill/editor.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/select2/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/spinkit/spinkit.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/app-email.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/cards-analytics.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/app-chat.css' %}"/>
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/dropzone/dropzone.css' %}"/>

  <!-- Page CSS -->

  <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/app-chat.css' %}"/>
  <link rel="stylesheet" href="{% static 'backend/css/chatbot-config.css' %}"/>
    {% block header %}
    {% endblock %}
  
</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast=""
      data-pc-theme="light">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
    <div class="navbar-wrapper">

        <div class="m-header">

            <a href="/" class="b-brand text-primary">
                <!-- ========   Change your logo from here   ============ -->
                <img src="/static/backend/image/ai_logo.png" style="width: 73px;margin: 0 0 0 74px;">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Services</label>
                    <svg class="pc-icon">
                        <use xlink:href="#custom-text-align-justify-center"></use>
                    </svg>
                <li class="pc-item pc-hasmenu">
                    <a href="#" class="pc-link">
                        <span class="pc-micon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-menu-up" viewBox="0 0 16 16">
  <path d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793zM1 9V6h14v3zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5m0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5m0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5"/>
</svg>
                        </span>
                        <span class="pc-mtext">Chatbot Assistant AI</span>
                    </a>
                    <ul class="pc-submenu" style="overflow:auto;">
                        <li class="pc-item"><a class="pc-link" href="/dashboard/services/chatbot/create/">Create Chatbot</a></li>
                        {% for chatbot in data.user_chatbots %}
                        <li class="pc-item text-capitalize"><a class="pc-link" href="/document-list/{{chatbot.id}}">{{chatbot.chatbot_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="/dashboard/services/chatbot/history/<str:c_id>/" class="pc-link">
                            <span class="pc-micon">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
  <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
  <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
</svg>
                            </span>
                        <span class="pc-mtext">Training</span>
                    </a>
                </li>
                <li class="pc-item pc-hasmenu">
                    <a href="/dashboard/services/chatbot/get/<str:c_id>/" class="pc-link">
                            <span class="pc-micon">
                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-file-person-fill" viewBox="0 0 16 16">
  <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11"/>
</svg>
                            </span>
                        <span class="pc-mtext">Resources</span>
                    </a>
                </li>
                </li>
                <div class="card pc-user-card">
                    <div class="card-body">
                        <a href="/dashboard/services/chatbot/setting/<str:c_id>/">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img src="{% static 'backend/image/pp.jpg' %}" alt="user-image"
                                    class="user-avtar wid-45 rounded-circle"/>
                               
                                </div>
                                <div class="flex-grow-1 ms-3 me-2">
                                    <h6 class="mb-0 text-capitalize">Settings/Billing</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </ul>
            <footer style="position: fixed;padding: 10px 10px 0px 10px;bottom: 0; background: #f8f9fa;">
                <div id="user-info" style="margin: 0 0 20px 33px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% comment %} <a href="/setting-account">
                        <img src="{{request.user.profile_pic.url}}" alt="user-image" class="user-avtar"
                             style="border: 1px solid #9f9f9f;width: 44px; height: 44px; border-radius: 58px; color: var(--pc-header-color); overflow: hidden;"/>
                    </a> {% endcomment %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/">
                        <img src="{% static 'backend/image/off.png' %}" alt="off" class="user-avtar"
                             style="border: 1px solid #9f9f9f;width: 44px; height: 44px; border-radius: 58px; color: var(--pc-header-color); overflow: hidden;"/>
                    </a>
                </div>

            </footer>
        </div>
    </div>
</nav>
<div class="toggle">
    <i class="fas fa-bars"></i>
</div>
<div class="pc-container">
    <div class="pc-content">

        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true" data-bs-whatever="">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body p-md-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2 pb-1">Are you sure?</h3>
                    <p>You won't be able to revert!</p>
                </div>
                <form id="addNewCCForm" class="row g-4">
                    <div class="col-12 text-center">
                        <input type='hidden' id="delete-type"></input>
                        <input type='hidden' id="delete-id"></input>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1" data-bs-dismiss="modal">Delete
                        </button>
                        <button
                                type="reset"
                                class="btn btn-outline-secondary btn-reset"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<!-- [Body] end -->

<!-- [Page Specific JS] start -->

<!-- [Page Specific JS] end -->
<!-- Required Js -->


<script src="{% static '' %}backend/js/plugins/popper.min.js"></script>
<script src="{% static '' %}backend/js/plugins/simplebar.min.js"></script>
<script src="{% static '' %}backend/js/plugins/bootstrap.min.js"></script>
<script src="{% static '' %}backend/js/fonts/custom-font.js"></script>
<script src="{% static '' %}backend/js/pcoded.js"></script>
<script src="{% static '' %}backend/js/plugins/feather.min.js"></script>
<script src="{% static 'backend/vendor/js/helpers.js' %}"></script>
<script src="{% static 'backend/js/config.js' %}"></script>
  <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
<script src="{% static 'backend/vendor/libs/jquery/jquery.js' %}"></script>
<script src="{% static 'backend/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'backend/vendor/libs/popper/popper.js' %}"></script>
<script src="{% static 'backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'backend/vendor/libs/node-waves/node-waves.js' %}"></script>
<script src="{% static 'backend/vendor/libs/hammer/hammer.js' %}"></script>
<script src="{% static 'backend/vendor/libs/i18n/i18n.js' %}"></script>
<script src="{% static 'backend/vendor/libs/typeahead-js/typeahead.js' %}"></script>
<script src="{% static 'backend/vendor/js/menu.js' %}"></script>
<!-- endbuild -->

<script src="{% static 'backend/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'backend/vendor/libs/swiper/swiper.js' %}"></script>
<script src="{% static 'backend/vendor/libs/quill/katex.js' %}"></script>
<script src="{% static 'backend/vendor/libs/quill/quill.js' %}"></script>
<script src="{% static 'backend/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'backend/vendor/libs/block-ui/block-ui.js' %}"></script>
    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'backend/vendor/css/rtl/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'backend/vendor/css/rtl/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'backend/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/apex-charts/apex-charts.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/swiper/swiper.css' %}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/cards-statistics.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/cards-analytics.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/css/pages/app-chat.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/node-waves/node-waves.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/typeahead-js/typeahead.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/toastr/toastr.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/vendor/libs/animate-css/animate.css' %}" />

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<script src="{% static 'backend/vendor/libs/block-ui/block-ui.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'backend/js/main.js' %}"></script>

<!-- Page Refresh JS -->
<script src="{% static 'backend/js/ajex_block_refresh.js' %}"></script>

<!-- Page JS -->
<script src="{% static 'backend/js/app-email.js' %}"></script>
<script src="{% static 'backend/js/extended-ui-blockui.js' %}"></script>
<script src="{% static 'backend/js/forms-file-upload-new.js' %}"></script>
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{% static 'backend/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'backend/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'backend/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'backend/vendor/libs/node-waves/node-waves.js' %}"></script>

  <script src="{% static 'backend/vendor/libs/hammer/hammer.js' %}"></script>
  <script src="{% static 'backend/vendor/libs/i18n/i18n.js' %}"></script>
  <script src="{% static 'backend/vendor/libs/typeahead-js/typeahead.js' %}"></script>

  <script src="{% static 'backend/vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{% static 'backend/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static 'backend/js/main.js' %}"></script>

  <!-- Page JS -->
  <script src="{% static 'backend/js/app-chat.js' %}"></script>
<script>
    var getSidebar = document.querySelector('nav');
var getToggle = document.getElementsByClassName('toggle');
for (var i = 0; i <= getToggle.length; i++) {
    getToggle[i].addEventListener('click', function () {
        getSidebar.classList.toggle('active');
    });
}
</script>
{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let messages = [];

        {% for message in messages %}
            messages.push({text: "{{ message }}", type: "{{ message.tags }}"});
        {% endfor %}

        let messageText = messages.map(m => m.text).join("\n");

        Swal.fire({
            title: "📢 Notifications",
            text: messageText,
            icon: messages.some(m => m.type === 'error') ? 'error' :
                  messages.some(m => m.type === 'success') ? 'success' :
                  messages.some(m => m.type === 'warning') ? 'warning' : 'info',
            confirmButtonText: "OK"
        });
    });
</script>
{% endif %}
{% block script %}
{% endblock %}


</html>
