Django
python-dotenv
pymysql
mysqlclient
drf-yasg
django-rest-swagger
setuptools
djangorestframework-gis
chromadb
langchain 
llama_index 
openai 
chromadb 
PyMuPDF
langchain-community
selenium
pysqlite3
langchain_openai
langchain_chroma
webdriver-manager