Django
cryptography
Pillow
python-dotenv
PyMySQL
djangorestframework
drf-yasg
django-cors-headers
langchain-community
langchain-chroma
selenium
webdriver-manager
django-filter
openai
fake-useragent
screeninfo
pandas
langchain_openai
