{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Admin Chatbot{% endblock %}

{% block content %}
<style>
.sticky {
    position: -webkit-sticky !important;
    top: 5rem !important;
    background-color: #f7f7f9;
    z-index: 999;
    padding: 0 1rem;
}

.user-msg-background {
    background: #d77496;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
}

.chatbot-msg-background {
    background: #f1f1f1;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}
</style>

<div class="sticky">
    {% include 'admin/page/chatbot/ChatbotMenu/chat-head.html' %}
</div>

<div class="app-chat card overflow-hidden">
    <div class="row g-0">
        <div class="col app-chat-history" id="chatbot-config">
            <div class="chat-history-wrapper">
                <div class="chat-history-header border-bottom">
                    <div class="text-center" id="cfg-chat-heading"></div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="chat-contact-info flex-grow-1 ms-3">
                            <div class="m-0 h5">Chatbot</div>
                        </div>
                        <div class="text-center" id="chat-heading">Chat</div>
                    </div>
                </div>
                <div class="chat-history-body">
                    <ul id='chat-history-ul' class="list-unstyled chat-history">
                        {% for chat in chat_history %}
                            <li class="chat-message chat-message-right">
                                <div class="d-flex overflow-hidden">
                                    <div class="chat-message-wrapper flex-grow-1">
                                        <div class="chat-message-text user-msg-background">
                                            <p class="mb-0">{{ chat.question|safe }}</p>
                                        </div>
                                        <div class="text-end text-muted">
                                            <small>{{ chat.question_datetime }}</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="chat-message">
                                <div class="d-flex overflow-hidden">
                                    <div class="chat-message-wrapper flex-grow-1">
                                        <div class="chat-message-text chatbot-msg-background">
                                            <p class="mb-0">{{ chat.answer|safe }}</p>
                                        </div>
                                        <div class="text-muted">
                                            <small>{{ chat.answer_datetime }}</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="chat-history-footer">
                    <form class="form-send-message d-flex justify-content-between align-items-center">
                        {% csrf_token %}
                        <input type="hidden" id="chat_bot_url" value="http://127.0.0.1:8000/api/v2/query/?chat_id=1&user_id=1">
                        
                        <input type="hidden" id="chatdata_id" value="{{ data.chatbot_id }}">
                        <input id='message' class="form-control message-input me-3" placeholder="Type your message here" autofocus />
                        <button type="button" id='send' class="btn btn-primary d-flex send-msg-btn">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block extra_js %}
<script src="{% static 'backend/js/chatbot.js' %}"></script>
{% endblock %}
{% endblock %}


