{% extends 'layout/base.html' %}
{% load static %}

{% block header %}
  <style>
    /* Chatbot Theme color */
    {% if data.cfg..chatbot_theme  %}
      #chatbot-config .chatbot-theme{
      background-color: {{ data.cfg..chatbot_theme }} !important;
    }
    {% endif %}

    /* Chatbot pattern */
    {% if data.cfg..chatbot_background_pattern  %}
      #chatbot-config .chatbot-pattern {
      background-image: url({{ data.cfg..chatbot_background_pattern.url }}) !important;
    }
    {% endif %}

    /* Chatbot messages background */
    {% if data.cfg..bot_message_background  %}
      #chatbot-config .chatbot-msg-background {
      background-color: {{ data.cfg..bot_message_background }} !important;
    }
    {% endif %}

    /* Chatbot messages text color */
    {% if data.cfg..bot_message_color  %}
      #chatbot-config .chatbot-text-color {
      color: {{ data.cfg..bot_message_color }} !important;
    }
    {% endif %}

    /* User messages bg color */ 
    {% if data.cfg..user_message_background %}
      #chatbot-config .user-msg-background {
      background-color: {{ data.cfg..user_message_background }} !important;
    }
    {% endif %}

    /* User messages text color */
    {% if data.cfg..user_message_color  %}
      #chatbot-config .user-msg-color {
      color: {{ data.cfg..user_message_color }} !important;
    }
    {% endif %}
    
    /* Top bar bg color */
      {% if data.cfg..top_bar_background  %}
        #chatbot-config .top-bar-background {
        background-color: {{ data.cfg..top_bar_background }} !important;
      }
     
      {% endif %}

      /* Top bar text color */
      {% if data.cfg..top_bar_textcolor %}
        #chatbot-config .top-bar-text {
          color: {{ data.cfg..top_bar_textcolor }} !important;
      }
      {% else %}
      #chatbot-config .top-bar-text {
          color: black;
      }
      {% endif %}

    /* Chatbot font style */
    {% if data.cfg..font_family  %}
    #chatbot-config .chatbot-font-family {
      font-family: {{ data.cfg..font_family }} !important;
    }
    {% endif %}

    /* Chatbot font style size */
    {% if data.cfg..font_size %}
      #chatbot-config .chatbot-font-size {
        font-size: {{ data.cfg..font_size }}px !important;
      }
    {% endif %}
    /*  Chatbot background color */
    {% if data.cfg..chatbot_background_color %}
      #chatbot-config .chatbot-background-color {
        background-color: {{ data.cfg..chatbot_background_color }} !important;
      }
    {% endif %}


.sticky {
    position: -webkit-sticky !important;
    top: 5rem !important;
    background-color: #f7f7f9;
    z-index: 999;
    padding: 0 1rem;
}

.chat-message {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-container {
  margin-left: auto;
  margin-right: 3rem;
  display: none;
}


.icon {
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}
.thumbsup{
  position: absolute;
  bottom:70px;
}
.thumbsdown{
  position: absolute;
  bottom:70px;
  margin-left: 40px !important;
}

  </style>
{% endblock %}

{% block content %}
      <div class="sticky">
        {% include 'layout/partials/ChatBot/chat-head.html' %}
        </div>
          <div class="app-chat card overflow-hidden">
            <div class="row g-0">

              <!-- Chat History -->

              <div class="col app-chat-history" id="chatbot-config">
                <div class="chat-history-wrapper chatbot-font-family chatbot-font-size">
                  <div class="chat-history-header border-bottom chatbot-theme top-bar-background top-bar-text">
                    <div class="text-center" id="data.cfg.-chat-heading"></div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex overflow-hidden align-items-center">
                        <i
                          class="mdi mdi-menu mdi-24px cursor-pointer d-lg-none d-block me-3"
                          data-bs-toggle="sidebar"
                          data-overlay
                          data-target="#app-chat-contacts"></i>
                        <div class="chat-contact-info flex-grow-1 ms-3">
                          <div class="m-0 h5 top-bar-text">{% if data.cfg.display_name %}{{ data.cfg..display_name }}{% else %}John{% endif %}</div>
                          <span class="user-status text-body d-none">Great Assistance</span>
                        </div>
                      </div>
                      <div class="text-center" id="chat-heading">{{ data.cfg.chatbot_title }}</div>
                      <div class="d-flex align-items-center">
                      </div>
                    </div>
                  </div>
                  <div class="chat-history-body chatbot-pattern chatbot-background-color">
                    <ul id='chat-history-ul' class="list-unstyled chat-history">

                      <li class="chat-message">
                        <div class="d-flex overflow-hidden">
                          <div class="user-avatar flex-shrink-0 me-3">
                            <div class="avatar avatar-sm">
                              <img src="{% if data.cfg.chatbot_image %}{{ data.cfg.chatbot_image.url }}{% else %}{% static 'assets1/img/avatars/1.png' %}{% endif %}" alt="Avatar" class="rounded-circle" />
                            </div>
                          </div>
                          <div class="chat-message-wrapper flex-grow-1">
                            <div class="chat-message-text chatbot-msg-background"  data-toggle="popover">
                              <p class="mb-0 chatbot-text-color">
                              {% if data.cfg..initial_message %}{{ data.cfg.initial_message|safe }}{% else%}Hi! What can I help with you ?{% endif %}</p>
                            </div>
                            <div class="text-muted">
                              <small>{% now "M-d,Y P" %}</small>
                            </div>
                          </div>
                        </div>
                      </li>

                      {% for chat in chat_history %}
                        <li class="chat-message chat-message-right">
                          <div class="d-flex overflow-hidden">
                            <div class="chat-message-wrapper flex-grow-1">
                              <div class="chat-message-text chatbot-theme user-msg-background user-default-msg-color">
                                <p class="mb-0 user-msg-color">{{chat.question|safe}}</p>
                              </div>
                              <div class="text-end text-muted">
                                <i class="mdi mdi-check-all mdi-14px text-success me-1"></i>
                                <small>{{data.chat.question_datetime}}</small>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="chat-message">
                          <div class="d-flex overflow-hidden">
                            <div class="user-avatar flex-shrink-0 me-3">
                              <div class="avatar avatar-sm">
                                <img src="{% if data.cfg.chatbot_image %}{{ data.cfg.chatbot_image.url }}{% else %}{% static 'assets1/img/avatars/1.png' %}{% endif %}" alt="Avatar" class="rounded-circle" />
                              </div>
                            </div>
                            <div class="chat-message-wrapper flex-grow-1">
                              <div class="chat-message-text chatbot-msg-background">
                                <div class="icon-container float-end" data_id = "{{ chat.id }}">
                                  <i class="fas fa-copy icon d-none"></i>
                                  <i class="mdi {% if data.chat.positive_comment %}mdi-thumb-up{% else %}mdi-thumb-up-outline{% endif %} icon text-primary thumbsup" type="button" data-bs-toggle="modal" data-bs-target="#thumbsUpModal"></i>
                                  <i class="mdi  {% if data.chat.negative_comment %}mdi-thumb-down{% else %}mdi-thumb-down-outline{% endif %} icon text-primary thumbsdown" type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#thumbsDownModal"></i>
                                </div>
                                <p class="mb-0 chatbot-text-color">{{data.chat.answer|safe}}</p>
                              </div>
                              <div class="text-muted">
                                <small>{{chat.answer_datetime}}</small>
                              </div>
                            </div>
                          </div>
                        </li>

                      {% endfor %}
                    </ul>
                  </div>
                  <!-- Chat message form -->


                  <div class="chat-history-footern ">
                    <form class="form-send-message d-flex justify-content-between align-items-center">

                      {% csrf_token %}
                      <input type="hidden" id="chatdata_id" value="{{data.chatbot_id}}">
                      <input id='message'
                        class="form-control message-input me-3 shadow-none"
                        placeholder="Type your message here" autofocus />
                      <div class="message-actions d-flex align-items-center">
                        <button id='send' class="btn btn-primary d-flex send-msg-btn">
                          <span class="align-middle">Send</span>
                        </button>
                      </div>
                  </form>

                </div>
                    <div id="ErrorMsg" style="color: red; margin: -3px 0 0 27px;">

                        </div>
                </div>
              </div>
              <div class="app-overlay"></div>
            </div>
          </div>
          <div id="get_source" style="display: none; color: black;  background-color: #f8f8f9;
            width: 100%;
            padding: 25px;
            margin: 13px 0 0 0;
            border-radius: 8px;
            box-shadow: 0px 0px 1px 1px #d7d2d2;">
        </div>

<!-- Modals -->
<!-- ThumbsUp modal -->
<div class="modal fade" id="thumbsUpModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="avatar avatar-md me-2">
                    <span class="avatar-initial rounded-circle bg-label-primary"><span class="mdi mdi-thumb-up"></span>
                    </span>
                </div>
                <h4 class="modal-title" id="modalCenterTitle">
                    Provide additional feedback
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" id="thumbsupform">
                <input type="hidden" name="thumbsup_attr_id" id="thumbsup_attr_id">
                <div class="form-floating form-floating-outline mb-4">
                    <textarea class="form-control h-px-100" id="thumbs_up_feedback"
                        placeholder="What was the issue with the response? How could it be improved?" name="feedback" required></textarea>
                    <label for="exampleFormControlTextarea1">Add you feedback here..</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- / ThumbsUp modal -->

<!--  ThumbsDown modal -->
<div class="modal fade" id="thumbsDownModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <div class="avatar avatar-md me-2">
                  <span class="avatar-initial rounded-circle bg-label-danger"><span class="mdi mdi-thumb-down"></span>
                  </span>
              </div>
              <h4 class="modal-title" id="modalCenterTitle">
                  Provide additional feedback
              </h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" id="thumbsdownform">
            <input type="hidden" name="thumbsdown_attr_id" id="thumbsdown_attr_id">
              <div class="form-floating form-floating-outline mb-4">
                  <textarea class="form-control h-px-100" id="thumbs_down_feedback" name="thumbs_down_feedback"
                      placeholder="What was the issue with the response? How could it be improved?"></textarea>
                  <label for="exampleFormControlTextarea1">Add you feedback here..</label>
              </div>
              <div class="form-check form-check-secondary mb-4">
                <input class="form-check-input" type="checkbox" value="This is harmful / unsafe" id="customCheckSecondary_1"
                    name="feedback[]">
                <label class="form-check-label" for="customCheckSecondary_1">This is harmful / unsafe </label>
            </div>
            <div class="form-check form-check-secondary mb-4">
                <input class="form-check-input" type="checkbox" value="This isn't true" id="customCheckSecondary_2"
                    name="feedback[]">
                <label class="form-check-label" for="customCheckSecondary_2"> This isn't true

                </label>
            </div>
            <div class="form-check form-check-secondary mb-4">
                <input class="form-check-input" type="checkbox" value="This isn't helpful" id="customCheckSecondary_3"
                    name="feedback[]">
                <label class="form-check-label" for="customCheckSecondary_3">This isn't helpful</label>
            </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal">
                      Close
                  </button>
                  <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>
<!-- / ThumbsDown modal -->

{% endblock %}

{% block script %}
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{% static 'assets1/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets1/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'assets1/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets1/vendor/libs/node-waves/node-waves.js' %}"></script>

  <script src="{% static 'assets1/vendor/libs/hammer/hammer.js' %}"></script>
  <script src="{% static 'assets1/vendor/libs/i18n/i18n.js' %}"></script>
  <script src="{% static 'assets1/vendor/libs/typeahead-js/typeahead.js' %}"></script>

  <script src="{% static 'assets1/vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{% static 'assets1/vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js' %}"></script>

  <!-- Main JS -->
  <script src="{% static 'assets1/js/main.js' %}"></script>

  <!-- Page JS -->
  <script src="{% static 'assets1/js/app-chat.js' %}"></script>
  <script>
    // window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' })
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function historyClick(e, history) {
      console.log(history)
      $('#chat-title').text(history)
      var $listItems = $('li').filter('.chat-contact-list-item');
      $listItems.each(function() {
        // Do something with the current li element (this)
        $(this).removeClass('active')
      });
      
      //$('#chat-title').text(history)
      get_chat(history)

      $(e).closest('li').addClass('active')
    }

    function getCurrentFormattedTime() {
    const options = {
      year: "numeric",
      month: "short",
      day: "2-digit",
      hour: "numeric",
      minute: "numeric",
      hour12: true
    };
    const formattedTime = new Date().toLocaleString("en-US", options);
    return formattedTime;
  }

  const currentFormattedTime = getCurrentFormattedTime();
    function get_chat(history) {
      //$('#chat-title').text(history)
      $.ajax({
        type: "POST",
        url: "/get_chat",
        headers: {
          "X-CSRFToken": csrftoken
        },
        data: {'category' :'librarian', 'history': history },
        success: function (data) {
          chat_data = ``
          for (i = 1; i <= data.length; i++) {
            chat_data += `
            <li class="chat-message chat-message-right">
              <div class="d-flex overflow-hidden">
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text chatbot-theme user-msg-background user-default-msg-color">
                    <p class="mb-0 user-msg-color">${data[i-1][0]}</p>
                  </div>
                  <div class="text-end text-muted">
                    <i class="mdi mdi-check-all mdi-14px text-success me-1"></i>
                    <small>${data[i-1][1]}</small>
                  </div>
                </div>
              </div>
            </li>
            <li class="chat-message">
              <div class="d-flex overflow-hidden">
                <div class="user-avatar flex-shrink-0 me-3">
                  <div class="avatar avatar-sm">
                    <img src="{% if data.cfg..chatbot_image %}{{ data.cfg..chatbot_image.url }}{% else %}{% static 'assets1/img/avatars/1.png' %}{% endif %}" alt="Avatar" class="rounded-circle" />
                  </div>
                </div>
                <div class="chat-message-wrapper flex-grow-1">
                  <div class="chat-message-text chatbot-msg-background">
                    <div class="icon-container float-end" data_id = "${data.chat_history_id}">
                        <i class="fas fa-copy icon d-none"></i>
                        <i class="mdi mdi-thumb-up-outline icon text-primary thumbsup" type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#thumbsUpModal"></i>
                        <i class="mdi mdi-thumb-down-outline icon text-primary thumbsdown" type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#thumbsDownModal"></i>
                      </div>
                      <p class="mb-0 chatbot-text-color" >${data.response}</p>
                    </div>
                    <p class="mb-0 chatbot-text-color" >${data[i-1][2]}</p>                  
                  </div>
                  <div class="text-muted">
                    <small>${data[i-1][3]}</small>
                  </div>
                </div>
              </div>
            </li>
              `;
          }
          // 661 line style="color:#000000"

          $("#chat-history-ul").html(chat_data);
          //$('#chat-history-ul').scrollTop($("#chat-history-ul")[0].scrollHeight);
        }
      });
    }

    function get_history(){
      $.ajax({
        type: "GET",
        url: "/get_history",
        headers: {
          "X-CSRFToken": csrftoken
        },
        //data: {'category':'librarian'},
        success: function (data) {
          console.log("got history")
          var history_data = ""
          for (let i = 1; i <= data.length; i++) {
            if (i==1){
              history_data += `
                <li class="chat-contact-list-item active" onclick="historyClick(this, '${data[i-1]}')">
                  <a class="d-flex align-items-center">
                    <div class="chat-contact-info flex-grow-1 ms-3">
                      <h6 class="chat-contact-name text-truncate m-0">${data[i-1]}</h6>
                    </div>
                    <small class="text-muted mb-auto">5 Minutes</small>
                  </a>
                </li>
              `
            }
            else{
              history_data += `
              <li class="chat-contact-list-item" onclick="historyClick(this, '${data[i-1]}')">
                <a class="d-flex align-items-center">
                  <div class="chat-contact-info flex-grow-1 ms-3">
                    <h6 class="chat-contact-name text-truncate m-0">${data[i-1]}</h6>
                  </div>
                  <small class="text-muted mb-auto">5 Minutes</small>
                </a>
              </li>
              `
            }
          }
          $('#chat-history-div').html(history_data);

          // chat initializer
          if (data.length > 0) {
            var init_history = data[0]
            $('#chat-title').text(init_history)
            console.log("inithistory", init_history)
            // get_chat(init_history);
          }
        }
      });

    }    

    $(document).ready(function (){

      get_history()

      console.log("hello");
      $('#send').click(()=>{
        var bot_animation = `<li class="chat-message" id="bot-animation">
                <div class="d-flex overflow-hidden">
                  <div class="user-avatar flex-shrink-0 me-3">
                    <div class="avatar avatar-sm">
                      <img src="{% if data.cfg..chatbot_image %}{{ data.cfg..chatbot_image.url }}{% else %}{% static 'assets1/img/avatars/1.png' %}{% endif %}" alt="Avatar" class="rounded-circle" />
                    </div>
                  </div>
                  <div class="chat-message-wrapper flex-grow-1">
                    <div class="chat-message-text chatbot-msg-background">
                        <div class="loader">
                            <span class="dot">.</span>
                            <span class="dot">.</span>
                            <span class="dot">.</span>
                        </div>
                    </div>
                  </div>
                </div>
              </li>`
        var question = $('#message').val();
        var chatdata_id = $('#chatdata_id').val();
        var src_checkbox = $('input[name="src_checkbox"]:checked').length;

        var history = $('#chat-title').text()
        console.log(history)
        const now = new Date();  // create a new Date object with the current date and time
        const options = {hour12: false, hourCycle:'h23', second:undefined}
        const currentTime = now.toLocaleTimeString([], options); 

        var message = `
          <li class="chat-message chat-message-right">
            <div class="d-flex overflow-hidden">
              <div class="chat-message-wrapper flex-grow-1">
                <div class="chat-message-text chatbot-theme user-msg-background user-default-msg-color">
                  <p class="mb-0 user-msg-color">${question}</p>
                </div>
                <div class="text-end text-muted">
                  <i class="mdi mdi-check-all mdi-14px text-success me-1"></i>
                  <small>${currentFormattedTime}</small>
                </div>
              </div>
            </div>
          </li>
        `
        $('#chat-history-ul').append(message)
        $('#chat-history-ul').append(bot_animation)

        $('#ErrorMsg').hide();
        $('#get_source').hide()
        $.ajax({
          type:'POST',
          url:'/chat',
          headers:{
            'X-CSRFToken' : csrftoken
          },
          data:{'history': history, 'question': question, 'chatdata_id': chatdata_id, 'src_checkbox': src_checkbox},
          success: function(data) {
            $('#bot-animation').fadeOut(500)
            const now = new Date();  // create a new Date object with the current date and time
            const currentTime = now.toLocaleTimeString(); 

            let answer = `
              <li class="chat-message">
                <div class="d-flex overflow-hidden">
                  <div class="user-avatar flex-shrink-0 me-3">
                    <div class="avatar avatar-sm">
                      <img src="{% if data.cfg..chatbot_image %}{{ data.cfg..chatbot_image.url }}{% else %}{% static 'assets1/img/avatars/1.png' %}{% endif %}" alt="Avatar" class="rounded-circle" />
                    </div>
                  </div>
                  <div class="chat-message-wrapper flex-grow-1">
                    <div class="chat-message-text chatbot-msg-background">
                    <div class="icon-container float-end" data_id = "${data.chat_history_id}">
                        <i class="fas fa-copy icon d-none"></i>
                        <i class="mdi mdi-thumb-up-outline icon text-primary thumbsup" type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#thumbsUpModal"></i>
                        <i class="mdi mdi-thumb-down-outline icon text-primary thumbsdown" type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#thumbsDownModal"></i>
                      </div>
                      <p class="mb-0 chatbot-text-color" >${data.response}</p>
                    </div>
                    <div class="text-muted">
                      <small>${currentFormattedTime}</small>
                    </div>
                  </div>
                </div>
              </li>
            `
            setTimeout(function() {
              $('#chat-history-ul').append(answer);
              $('#bot-animation').remove()
            }, 500);

            //$('#get_source').show()
            $('#get_source').empty()

            if (data.page_content.length > 0) {
                for (let i = 0; i < data.page_content.length; i++) {
                      doc_src = `<p><b>Chunk ${i+1}: </b> ${data.page_content[i][0]}
                      <span class="mdi mdi-link-variant" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" data-bs-original-title="${data.page_content[i][1]}"></span>
                      </p>`
                      $('#get_source').append(doc_src)
                        }

                if (data.namespace.length > 0) {
                  $('#get_source').append(`<p><b>Namespace: </b> ${data.namespace}</p>`)
                  }

                if (data.index_name.length > 0) {
                  $('#get_source').append(`<p><b>Index Name: </b> ${data.index_name}</p>`)
                  }

                $('[data-bs-toggle="tooltip"]').tooltip();
            }
            else {
            $('#get_source').hide()
            }


           // $("#chat-history-ul").stop().animate({
             //       scrollTop: $(".chat-logs")[0].scrollHeight
               // }, 1000);
          },
          error: function (jqXHR, textStatus, errorThrown) {
              $('#ErrorMsg').show();
              $('#ErrorMsg').empty();
              $('#ErrorMsg').append(`<span class="mdi mdi-alert-circle"></span>&nbsp;There is some issue, Please contact with administrator`);
              console.log("Sorry you sent too many messages!")
           }
        });
      })  // 787 line style="color:#000000"

      // add a chat
      $('#create-history').click(()=>{
        var history = $('#chatTitle').val();
        $.ajax({
          type: "POST",
          url: "/create_history",
          headers: {
            "X-CSRFToken": csrftoken
          },
          data: {'history': history },
          success: function (data) {
            var history_element = `
              <li class="chat-contact-list-item active" onclick="historyClick('${history}')">
                <a class="d-flex align-items-center">
                  <div class="chat-contact-info flex-grow-1 ms-3">
                    <h6 class="chat-contact-name text-truncate m-0">${history}</h6>
                  </div>
                  <small class="text-muted mb-auto">5 Minutes</small>
                </a>
              </li>
            `
            $('#chat-history-div').prepend(history_element);
            $('#chat-title').text(history)
            get_chat(history)
            get_history()
          }
        });
      })

      $('#delete-history').click(()=>{
        var history = $('#chat-title').text()
        console.log("delete==============", history)
        $.ajax({
          type: "POST",
          url: "/delete_history",
          headers: {
            "X-CSRFToken": csrftoken
          },
          data: {'history': history },
          success: function (data) {
            get_chat(history)
            get_history()
          }
        });


      })
    })
    $(document).ready(function() {
      //  Sweet alert
      function showSuccessMessage(message) {
          Swal.fire({
              icon: 'success',
              title: 'Success',
              text: message,
              timer: 2000, // Time in milliseconds
              showConfirmButton: false,
          });
      }

      // Trigger a Warning Message
      function showWarningMessage(message) {
          Swal.fire({
              icon: 'warning',
              title: 'Warning',
              text: message,
              timer: 2000, // Time in milliseconds
              showConfirmButton: false,
          });
      }

    // Thumbs Up functionality
    $(document).on('click', '.thumbsup', function () {
      var id_data = $(this).parent().attr('data_id');
      $('#thumbsup_attr_id').val(id_data);
      });

    // positive comment form submission
    $("#thumbsupform").submit(function(event) {
      event.preventDefault();
      var url_data = '/feedback_up/';
      // Form is valid, proceed with AJAX call
      var formData = {
        comment: $("#thumbs_up_feedback").val(),
        resp_id: $("#thumbsup_attr_id").val(),
      };
      console.log(formData);
      
      $.ajax({
        type: "POST",
        url: url_data,
        headers: {
          "X-CSRFToken": csrftoken
          },
        data: formData,
        success: function(response) {
          showSuccessMessage("Feedback Successfully Saved !");
          // remove thumbsup icon
          $('.btn-close').click()
          var resp_id= $("#thumbsup_attr_id").val()
          $("[data_id="+resp_id+"] .thumbsup").removeClass('mdi-thumb-up-outline').removeClass('thumbsup1').addClass('mdi-thumb-up');
          $("[data_id="+resp_id+"] .thumbsdown").removeClass('mdi-thumb-down').removeClass('thumbsup1').addClass('mdi-thumb-down-outline');
          document.getElementById("thumbsupform").reset();
        },
        error: function(xhr, status, error) {
          console.log('error')
          showWarningMessage("Warning: Something went wrong.");
          // Handle error here
        }
      });
  });

    // Thumbs down functionality
    $(document).on('click','.thumbsdown', function () {
      var id_data = $(this).parent().attr('data_id');
      console.log(id_data, '------');
    $('#thumbsdown_attr_id').val(id_data);
  });


  // Negative comment form submission
  $("#thumbsdownform").submit(function(event) {
      event.preventDefault();
      var url_data = '/feedback_down/';
      
      // Form is valid, proceed with AJAX call
      var formData = $(this).serialize();
      console.log(formData);
      
      $.ajax({
        type: "POST",
        url: url_data,
        headers: {
          "X-CSRFToken": csrftoken
          },
        data: formData,
        success: function(response) {
          showSuccessMessage("Feedback Successfully Saved !");
          // remove thumbsup icon
          $('.btn-close').click()
          var resp_id= $("#thumbsdown_attr_id").val()
          $("[data_id="+resp_id+"] .thumbsup").removeClass('mdi-thumb-up').removeClass('thumbsup1').addClass('mdi-thumb-up-outline');
          $("[data_id="+resp_id+"] .thumbsdown").removeClass('mdi-thumb-down-outline').removeClass('thumbsup1').addClass('mdi-thumb-down');
          document.getElementById("thumbsdownform").reset();
        },
        error: function(xhr, status, error) {
          console.log('error')
          showWarningMessage("Warning: Something went wrong.");
          // Handle error here
        }
      });
  });


    //  Show hover thumbsup icons
    $(document).on('mouseenter', '.chat-message-text', function () {
        $(this).find('.icon-container').fadeIn();
        }).on('mouseleave', '.chat-message-text', function() {
            var iconContainer = $(this).find('.icon-container');
            iconContainer.fadeOut(800); 
    });
});

  </script>
{% endblock %}
