{% extends 'layout/auth_base.html' %}
{% load static %}
{% block title %}Admin Forget Password {% endblock %}

{% block content %}
<div class="auth-main">
    <div class="auth-wrapper v2">
      <div class="auth-sidecontent">
        <img src="{% static '' %}backend/image/authentication/img-auth-sideimg.jpg" alt="images" class="img-fluid img-auth-side">
      </div>
      <div id="pcContent" class="auth-form displaynone">
        <!-- PC Content -->
        <div class="card my-5">    
          <div class="card-body">      
            <form method="post" action="/forget-password/">
              {% csrf_token %}
              <h3 class="mb-2"><b>Forgot Password</b></h3>
              
              <div class="form-group mb-3">
                  <input type="text" class="form-control" id="email_address" name="email" placeholder="Enter Email Address">
              </div>
              <div class="d-grid mt-4">
                  <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>
              </div>
              <div class="d-grid mt-2">
                <a href="/login/" class="link-primary">Back to Login</a>
              </div>
          </form>
          
          
          </div>
        </div>
      </div>
      <div id="mobileMessage" class="auth-form diplayblock text-center">
        <!-- Mobile Message -->
        <h4 class="m-4">Please login via a PC or a tablet in landscape orientation.</h4>
      </div>
    </div>
  </div>
   
{% endblock %}