<ul class="nav nav-pills flex-column flex-md-row mb-3 gap-2 gap-lg-0">
    <li class="nav-item">
      <a class="nav-link {% if '/setting' in request.path %}active{% endif %}" href="{% url 'chat-setting' c_id=1 %}"><i

          class="mdi mdi-printer-3d mdi-20px me-1"></i> TRAINING</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if '/dashboard/services/chatbot/chatbot-appearance/<str:c_id>/' in request.path %}active{% endif %}" href="/dashboard/services/chatbot/chatbot-appearance/<str:c_id>/"><i
          class="mdi mdi-eye-settings mdi-20px me-1"></i> Appearance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if '/chatbot-setting' in request.path %}active{% endif %}" href="/chatbot-setting/{{ data.chatbot_id }}"><i
          class="mdi mdi-robot-confused-outline mdi-20px me-1"></i>Delete</a>
    </li>
</ul>

