  .darkmode {
    background-color: black !important;
    color: black !important;
  }

  .chat-input-changer {
    background-color: black !important;
    color: white !important;
  }

  .chat-display-name-changer {
    color: white !important;
  }

  .chatbot-footer {
    background-color: gray;
  }

  .color-fields {
    padding: 0 !important;
  }

  .chat-history-footer-changer {
    background-color: black !important;
    color: white !important;
  }

  .color-field-helper {
    margin-left: 0px !important;
    width: 2.25em !important;
    height: 2.25em !important;
  }

  .chat-height {
    height: calc(94vh - 19.8rem) !important;
  }
  .sticky-suggestion {
    position: relative;
    bottom: 100px;
}

#sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 5rem !important;
}
/* Chatbot pattern image */
{% if cfg.chatbot_background_pattern  %}
  .chatbot-pattern {
  background-image: url({{ cfg.chatbot_background_pattern.url }}) !important;
}
{% endif %}

.top-bar-background {
    background-color: {{ cfg.top_bar_background }} !important;
}

.chatbot-background {
  background-color : {{cfg.chatbot_background_color}} ;
}

.chatbot-msg-background {
    background-color: {{ cfg.bot_message_background }};
    height: auto;
    width: auto;
        border-radius: 0 10px 10px 10px;
}

.user-msg-background {
    background-color: {{ cfg.user_message_background }};
    height: auto;
    width: auto;
        border-radius: 10px 0px 10px 10px;
}
#chat-display-name{
  color: {{ cfg.top_bar_textcolor }};
}
#chatbot-initial-messages{
  color: {{ cfg.bot_message_color }} !important;
  padding: 20px;
  font-size:15px;
  font-weight: 400;
  font-weight: 400;
}
.user-msg-color{
  color: {{ cfg.user_message_color }};
   padding: 20px;
   font-size:15px;
   font-weight: 400;
}

.avatar {
    width: 3rem !important;
    height: 3rem !important;
    cursor: pointer;
}
.sticky-powerdby {
    background: lightgray;
}
 #footerContainer {
        width: 420px;
        min-height: 100px;
        border: 1px solid #ccc;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
    }


/*    chatbot css */




.d-flex.overflow-hidden {
    margin-top: 20px;
    margin-left: 10px;
}

.chat-message-wrapper.flex-grow-1 {
    margin-right: 10px;
}
        #chat-container {
            position: fixed;
            width: 1000px;
        }

        #chat-header {
            background-color: purple;
            color: #fff;
            padding: 10px;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #close-button {
            cursor: pointer;
            background: none;
            border: none;
            font-size: 1.2em;
            color: #fff;
        }

        #chat-window {
            height: 45vh;
            overflow-y: auto;
            padding: 10px;
        }

        .chat-history-body {
            display: flex;
            margin-bottom: 15px;
            justify-content: flex-start;
        }
        .message-container2{
            display: flex;
            margin-bottom: 15px;
            justify-content: flex-end;
        }

        .message.left {
            justify-content: flex-start;
        }

        .message.right {
            justify-content: flex-end;
        }

        .message-content {
            background-color: #e5e5e5;
            border-radius: 10px;
            padding: 10px;
            max-width: 70%;
        }

        .double-tick-time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #777;
            font-size: 0.8em;
            margin-top: 5px;
        }
        .double-tick-time2 {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #777;
            font-size: 0.8em;
            margin-top: 5px;
        }

        .double-tick {
            margin-right: 5px;
            color: #4CAF50;
        }

        .profile-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            background-color: #4CAF50; /* Sample color for receiver profile */
        }

        #chat-input {
            display: flex;
            padding: 10px;
            background-color: #eee;
            align-items: center;
        }

        #message-input {
            flex: 1;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
        }

        #send-button {
            background-color: purple;
            color: #fff;
            padding: 8px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .bottom-tab{
            background-color: rgb(207, 207, 207);
            color: #000;
            padding-left: 12px;
         display: flex;
        justify-content: flex-start;
            padding-top: 10px;
        }
#chat-display-name {
    font-size: 18px;
    padding-left: 20px;
}

        .bottom-icon{
            display: flex;
            justify-content: flex-end;
            position: relative;
            padding-right: 25px;
            margin: 13px 0 0 0;
                }
        .img-bottom{

            height: 60px;
            border-radius: 60px;
        }
        .message-number{
            color: #fff;
            background-color: #666cff;
          height: 20px;
          width: 20px;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0px -9px -11px -12px;

        }