{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>

    <!-- Load jQuery First -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="http://127.0.0.1:8000/Static/assets/chat-widget/chat-loader.js" chatbot-id="Q7T73X7X7DUVHIM" type="application/javascript"></script>
    {% comment %} <script>
        window.addEventListener("load", function() {
            var script = document.createElement("script");
            let base_url = document.getElementById("base_url")?.value;
            script.src = `${base_url}/static/chat-widget/chat-loader.js`;
            document.head.appendChild(script);
        });
    </script> {% endcomment %}
</head>
<body>
  <h1>Chatbot Integration</h1>
</body>
</html>
