{% load humanize %}
{% block tablecontent %}
{% load static %}

<!-- Documents table -->
<li class="email-list-item" data-file="true" data-bs-toggle="sidebar" data-target="#app-file-view">
    <div class="row">
        <div class="col-1">
            <div class="form-check me-1 mb-0">
                <input class="form-check-input" type="checkbox" id="email-select-all">
                <label class="form-check-label" for="email-select-all"></label>
            </div>
        </div>
        <div class="col-5">Name</div>
        <div class="col-3">Last Update</div>
        <div class="col-1">Size</div>
        <div class="col-1">Status</div>
        <div class="col-1">Actions</div>
    </div>
</li>
{% for file in documents %}
<li class="email-list-item" data-file="true" data-bs-toggle="sidebar" data-target="#app-file-view">
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <div class="row">
                <div class="col-1">
                    <div class="form-check mb-0">
                        <input class="email-list-item-input form-check-input" type="checkbox" id="email-1" name="doc_checkbox" value="{{file.id}}">
                        <label class="form-check-label" for="email-1"></label>
                    </div>
                </div>
            </div>
            <i class="mdi mdi-file-document-outline mdi-20px text-primary me-3"></i>
            <strong>{{ file.name }}</strong>
        </div>
        <div class="col-3 d-flex align-items-center"><span data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="{{ file.last_updated }}">{{ file.last_updated|timesince }}</span>
        </div>
        <div class="col-1 d-flex align-items-center"><span data-bs-toggle="tooltip" data-bs-placement="bottom"
                data-bs-original-title="{% if file.no_of_characters %}{{file.no_of_characters|intcomma}}{% else %}0{% endif %} Character / {% if file.no_of_chunks %}{{  file.no_of_chunks|intcomma }}{% else %}0{% endif %} Chunks">{% widthratio file.size 1048576 1 %} MB</span>
        </div>
        <div class="col-1 d-flex align-items-center" id="status_div{{ file.id }}">
            {% if file.status == "error" %}
            <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Error">
                <div class="badge bg-label-danger rounded-pill">
                    <span class="tf-icons mdi mdi-alert-circle mdi-10px"></span>
                </div>
            </span>
            {% elif file.status == "pending" %}
                <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Pending">
                  <div class="badge bg-label-warning rounded-pill">
                    <span class="tf-icons mdi mdi-rotate-right mdi-10px"></span>
                  </div>
                </span>
            {% elif file.status == "success" %}
             <span data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Success">
                  <div class="badge bg-label-success rounded-pill">
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline mdi-10px"></span>
                  </div>
             </span>
            {% endif %}
        </div>
        <div class="col-1">
            <div class="dropdown">
                <button
                    class="btn btn-icon btn-text-secondary rounded-pill dropdown-toggle hide-arrow waves-effect waves-light"
                    data-bs-toggle="dropdown" aria-expanded="true" id="emailsActions">
                    <i class="mdi mdi-dots-vertical mdi-20px"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="emailsActions">
                    <a class="dropdown-item waves-effect delete-document delete-item" data-item-type="delete-document"
                        href="javascript:void(0)" data-item-id="{{ file.id }}">Delete</a>
                    <a class="dropdown-item waves-effect" href="javascript:void(0)">Resync</a>
                </div>
            </div>
        </div>
    </div>
</li>
{% endfor %}
<!--/ Documents table -->
{% endblock %}

<script>
  $('#file-tab').on('click', function () {
        window.location.href = "/document_list/" + "{{ data.chatbot_id }}"
    })
    $('#url-tab').on('click', function () {
        window.location.href = "/website_list/" + "{ data.chatbot_id }"
    })
    $('#qa-tab').on('click', function () {
        window.location.href = "/qa_list/" + "{ data.chatbot_id }"
    })
    $('#text-tab').on('click', function () {
        window.location.href = "/text_list/" + "{ data.chatbot_id }"
    })
    $('#back').on('click', function () {
        window.location.href = "/document_list/" + "{ data.chatbot_id }"
    })

    // Page block ui Initiate with custom message
    function block_ui(msg){
      $.blockUI({
            message: `<div class="d-flex justify-content-center"><p class="mb-0">`+msg+`</p> <div class="sk-wave m-0"><div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div> <div class="sk-rect sk-wave-rect"></div></div> </div>`,
            // timeout: 30e3,
            css: {
                backgroundColor: "transparent",
                color: "#fff",
                border: "0"
            },
            overlayCSS: {
                opacity: .5
            }
        });
    };

    $('.delete-item').on('click', function () {
        const itemId = $(this).data('item-id');
        const itemType = $(this).data('item-type');

        // Show the confirmation dialog using SweetAlert
        Swal.fire({
            title: 'Delete Confirmation',
            text: `Are you sure you want to delete ?`,
            icon: 'warning',
            showDenyButton: true,
            showCancelButton: true,
            customClass: {
                cancelButton: 'swal2-cancel btn btn-label-danger',
                confirmButton: 'swal2-confirm btn btn-primary px-5',
                denyButton: 'd-none',
            }
        }).then((confirmed) => {
            if (confirmed.isConfirmed) {
                var ChatId = $(this).data('item-id');
                switch (itemType) {
                    case 'delete-document':
                        $(location).attr('href', "/delete_document/" + itemId);
                        break;
                    case 'delete-url':
                        $(location).attr('href', "/delete_website/" + itemId);
                        break;
                    case 'delete-qa':
                        $(location).attr('href', "/delete_qa/" + itemId);
                        break;
                    case 'delete-text':
                        $(location).attr('href', "/delete_text/" + itemId);
                        break;
                    default:
                        break;
                }
            }
        });
    });

    //  Edit QA Insert data in modal
    $('.edit-qa').on('click', function () {
        var url_data = $(this).attr('url_data');
        var id_data = $(this).attr('qa_id');
        $.ajax({
            type: 'POST',
            url: url_data,
            success: function (data) {
                $('#editanswer-textarea').html(data.answer);
                $('#editquestion-textarea').html(data.question);
                $('#edit-qa-form').attr('action', "/edit_qa/" + id_data);
            }
        })
    })

    // Edit Test Insert data in modal
    $('.edit-text').on('click', function () {
        var url_data = $(this).attr('url_data');
        var id_data = $(this).attr('qa_id');
        $.ajax({
            type: 'POST',
            url: url_data,
            success: function (data) {
                console.log(data);
                $('#edittext').html(data.text_data);
                $('#edit-text').attr('action', "/edit_text/" + id_data);
            }
        })
    });
  </script>

<script>

var selectAllCheckbox = document.getElementById('email-select-all');
var checkboxes = document.querySelectorAll('[name="doc_checkbox"]');

selectAllCheckbox.addEventListener('change', function() {
  checkboxes.forEach(checkbox => {
    checkbox.checked = this.checked;
  });
});

checkboxes.forEach(checkbox => {
  checkbox.addEventListener('change', function() {
    if (!this.checked) {
      selectAllCheckbox.checked = false;
    } else {
      var allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
      selectAllCheckbox.checked = allChecked;
    }
  });
});

</script>
