<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="icon" href="{% static 'backend/image/ai_logo-favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'backend/image/ai_logo-favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'backend/fonts/inter/inter.css' %}" id="main-font-link" />
    <link rel="stylesheet" href="{% static 'backend/fonts/tabler-icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/fonts/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/fonts/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/fonts/material.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/css/style.css' %}" id="main-style-link" />
    <link rel="stylesheet" href="{% static 'backend/css/style-preset.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/css/custom.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
    <div class="login_create_form">
        {% block content %}{% endblock %}
    </div>
<footer>
    <p>&copy; 2025 Your Company</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"> </script>
<script src="{% static 'backend/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'backend/js/custom.js' %}"></script>
<script src="{% static 'backend/js/commonjs.js' %}"></script>
<script src="{% static 'backend/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'backend/js/fonts/custom-font.js' %}"></script>
<script src="{% static 'backend/js/plugins/feather.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'backend/js/custom.js' %}"></script>
<script src="{% static 'backend/js/commonjs.js' %}"></script>
{% for message in messages %}
<div class="django-message" data-text="{{ message }}" data-type="{{ message.tags }}"></div>
{% endfor %}

</html>