<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">My Chatbot / </span> {{ data.user_chatbots.chatbot_name }} </h4>
<div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3 gap-2 gap-lg-0">
        <li class="nav-item">
            <a href="{% url 'admin.user.chatbot.dashboard' user_uuid=request.user.uuid  chatbot_id=data.user_chatbots.chat_bot_id view_type='document-list' %}"
            class="nav-link waves-effect waves-light {% if '/document-list/' in request.path or '/website-list/' in request.path %}active{% endif %}">
            <i class="menu-icon tf-icons mdi mdi-bookshelf"></i>
            <div data-i18n="Source">Source</div>
         </a>
         
        </li>
        <li class="nav-item">
           <a href="{% url 'admin.user.chatbot.dashboard' user_uuid=request.user.uuid  chatbot_id=data.user_chatbots.chat_bot_id view_type='chat-page-preview' %}"
               class="nav-link waves-effect waves-light {% if '/chat-page-preview/' in request.path %}active{% endif %}">
                <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                <div data-i18n="Chatbot">Chatbot</div>
            </a>
        </li>
        <li class="nav-item">
           <a href="{% url 'admin.user.chatbot.dashboard' user_uuid=request.user.uuid  chatbot_id=data.user_chatbots.chat_bot_id view_type='chat-history' %}"
               class="nav-link waves-effect waves-light {% if '/chat-history/' in request.path %}active{% endif %}">
                <i class="menu-icon tf-icons mdi mdi-history"></i>
                <div data-i18n="Conversations">Conversations</div>
            </a>
            </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'admin.user.chatbot.dashboard' user_uuid=request.user.uuid  chatbot_id=data.user_chatbots.chat_bot_id view_type='settings-training' %}"
               class="nav-link waves-effect waves-light {% if 'settings-training' in request.path or '/settings-chatbot-appearance/' in request.path or '/settings-chatbot-delete/' in request.path  %}active{% endif %}">
                <i class="menu-icon tf-icons mdi mdi-cog-outline"></i>
                <div data-i18n="Settings">Settings</div>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin.user.chatbot.dashboard' user_uuid=request.user.uuid  chatbot_id=data.user_chatbots.chat_bot_id view_type='integration' %}"
                 class="nav-link waves-effect waves-light {% if 'integration' in request.path %}active{% endif %}">
                  <i class="menu-icon tf-icons mdi mdi-cog-outline"></i>
                  <div data-i18n="Settings">Share</div>
              </a>
          </li>
        {% comment %} <li class="nav-item">
            <a class="nav-link waves-effect waves-light  {% if '/intergation' in request.path %}active{% endif %}" href="">
                <i class="mdi mdi-link mdi-20px me-1"></i>
                    <div data-i18n="Share">Share</div>
                </a>
        </li> {% endcomment %}
    </ul>
</div>


