<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">My Chatbot / </span> {{ data.chatbot_name }} </h4>
<div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-md-row mb-3 gap-2 gap-lg-0">
        <li class="nav-item">
            <a href="{% url 'document-list' c_id=1 %}"
            class="nav-link waves-effect waves-light 
            {% if '/get-chat' in request.path or '/chatbot/get/' in request.path or 'qa-list' in request.path or 'text-list' in request.path %}active{% endif %}">
            <i class="menu-icon tf-icons mdi mdi-bookshelf"></i>
            <div data-i18n="Source">Source</div>
         </a>
         
        </li>
        <li class="nav-item">
           <a href="{% url 'preview-chatbot' c_id=1 %}"
               class="nav-link waves-effect waves-light {% if '/preview' in request.path %}active{% endif %}">
                <i class="menu-icon tf-icons mdi mdi-message-outline"></i>
                <div data-i18n="Chatbot">Chatbot</div>
            </a>
        </li>
        <li class="nav-item">
           <a href="{% url 'chat-history' c_id=1 %}"
               class="nav-link waves-effect waves-light {% if '/history' in request.path %}active{% endif %}">
                <i class="menu-icon tf-icons mdi mdi-history"></i>
                <div data-i18n="Conversations">Conversations</div>
            </a>
            </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'chat-setting' c_id=1 %}"
               class="nav-link waves-effect waves-light {% if '/setting' in request.path or '/chatbot-appearance' in request.path or '/chatbot-access' in request.path or '/chatbot-notifications' in request.path or '/chatbot-setting' in request.path %}active{% endif %}">
                <i class="menu-icon tf-icons mdi mdi-cog-outline"></i>
                <div data-i18n="Settings">Settings</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light  {% if '/intergation' in request.path %}active{% endif %}" href="{% url 'chat-setting-intergation' c_id=1 %}">
                <i class="mdi mdi-link mdi-20px me-1"></i>
                    <div data-i18n="Share">Share</div>
                </a>
        </li>
    </ul>
</div>


