{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Admin Create Chat bot{% endblock %}

{% block content %}

<div class="row">
    {% if request.path == "/dashboard/chatbot/create/" %}
        <div class="col-xl-2 col-lg-3 col-sm-4 m-4">
          <div class="card">
            <div class="card-body" style="padding: 35px">
              <!-- <div class="d-flex justify-content-center align-items-center flex-wrap gap-2">
              </div> -->
              <div class="card-info mt-4 pt-1 ">
                <div class="d-flex justify-content-center align-items-center">
                <div class="avatar">
                  <div class="avatar-initial bg-label-primary rounded">
                    <button type="button" class="btn btn-icon rounded bg-label-secondary waves-effect waves-light" data-bs-toggle="modal"
                    data-bs-target="#modalCenter">
                      <i class="mdi-library-plus" style="font-size:30px;">+</i>
                    </button>
                  </div>
                </div>
              </div>
              <small class="d-flex justify-content-center my-1 ">Add</small>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
        {% for chatbots in chatbot %}
          <div class="col-xl-2 col-lg-3 col-sm-4 m-4">
            <div class="card">
              <div class="card-body">
    
                <div class="d-flex justify-content-between align-items-start flex-wrap gap-2">
                  <div class="avatar">
                    <div class="avatar-initial bg-label-primary rounded">
                      <a href="{% url 'document-list' c_id=chatbots.id%}">
                      <img class="rounded" src="{{ chatbots.icon_url }}" alt="{{ chatbots.chatbot_name }}">
                    </a>
                    </a>
                    </div>
                  </div>
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="salesOverview" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="mdi mdi-dots-vertical mdi-24px"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="salesOverview">
                      {% if chatbot_update %}
                      <a class="dropdown-item waves-effect editChatbot" data-bs-toggle="modal" data-bs-target="#modalEdit" url_data="/edit_chatbot/{{ chatbots.id }}" href="javascript:void(0);"><span >Edit</span></a>
                      {% endif %}
    
                      <a class="dropdown-item waves-effect deletechatbot" href="javascript:void(0);"
                         data-item-id="{{ chatbots.chatbot_id }}" chat-name="{{ chatbots.chatbot_name }}">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="card-info mt-4 pt-1">
                  <a href="{% url 'document-list' c_id=chatbots.id%}"><h5 class="mb-2 text-truncate">{{ chatbots.chatbot_name }}</h5></a>
                  <button type="button" class="btn btn-xs btn-primary waves-effect waves-light d-none" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="tooltip-success" data-bs-original-title="Edit Chatbot">
                    <span class="tf-icons mdi mdi-pencil"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
      </div>
    
    <!-- Vertically Centered Modal add Chatbot -->
    <div class="col-lg-4 col-md-6">
        <div class="mt-3">
          <!-- Modal -->
          <form method="post"  onsubmit="return validateForm()" action="/dashboard/chatbot/create/">
          <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="modalCenterTitle">Add Chatbot</h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="row">
    
                    <div class="col mb-4 mt-2">
                      <div class="form-floating form-floating-outline">
                          {% csrf_token %}
                        <input
                          type="text"
                          id="chatbotname"
                          class="form-control"
                          name="chatbotname" autofocus minlength="3"
                          placeholder="Enter Chatbot Name" required />
                        <label for="nameWithTitle">Name</label>
    
                      </div>
                      <div id="validateText"></div>
                      <div id="validatedText"></div>
                    </div>
    
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-label-secondary close_btn" data-bs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        </div>
    </div>
    <!-- Vertically Centered Modal add Chatbot -->
    
    <!-- Vertically Centered Modal Edit Chatbot -->
    <div class="col-lg-4 col-md-6">
      <div class="mt-3">
        <!-- Modal -->
        <form method="post" action="/edit_chatbot/" id="editForm">
        <div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modalCenterTitle">Edit Chatbot</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
    
                  <div class="col mb-4 mt-2">
                    <div class="form-floating form-floating-outline">
    
                        {% csrf_token %}
                      <input
                        type="text"
                        id="edit_chatbotname"
                        class="form-control"
                        name="chatbotname"
                        placeholder="Enter Chatbot Name" />
                      <input
                        type="hidden"
                        id="chatbot_id"
                        class="form-control"
                        name="chatbot_id"
                        minlength="3"
                        placeholder="Enter Chatbot Name" required />
                      <label for="nameWithTitle">Name</label>
    
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!-- Vertically Centered Modal add Chatbot -->
    
    <!-- Deleted Chatbot -->
    <div class="col-lg-4 col-md-6">
      <div class="mt-3">
        <!-- Modal -->
        <form method="post" action="/edit_chatbot/" id="editForm">
        <div class="modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="modalCenterTitle">Edit Chatbot</h4>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
    
                  <div class="col mb-4 mt-2">
                    <div class="form-floating form-floating-outline">
    
                        {% csrf_token %}
                      <input
                        type="text"
                        id="edit_chatbotname"
                        class="form-control"
                        name="chatbotname"
                        placeholder="Enter Chatbot Name" />
                      <input
                        type="hidden"
                        id="chatbot_id"
                        class="form-control"
                        name="chatbot_id"
                        placeholder="Enter Chatbot Name" />
                      <label for="nameWithTitle">Name</label>
    
                    </div>
                  </div>
    
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>


{% endblock %}